---
http_interactions:
- request:
    method: get
    uri: https://brasilapi.com.br/api/ibge/uf/v1/RJ
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5e-nPTSrQ3PGaJhccHVWnWEr+8mx9A"
      X-Matched-Path:
      - "/api/ibge/uf/v1/[code]"
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - gru1::sfo1::sww8q-1708897859558-e442e4c320c7
    body:
      encoding: ASCII-8BIT
      string: '{"id":33,"sigla":"RJ","nome":"Rio de Janeiro","regiao":{"id":3,"sigla":"SE","nome":"Sudeste"}}'
  recorded_at: Sun, 25 Feb 2024 21:50:34 GMT
recorded_with: VCR 6.2.0
