---
http_interactions:
- request:
    method: get
    uri: https://brasilapi.com.br/api/cep/v2/80060000
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"da-/PwRuBKXzIrDPEdtb2y02F+TC0A"
      X-Matched-Path:
      - "/api/cep/v2/[cep]"
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::sfo1::8zq72-1698168158496-46294a2b042c
    body:
      encoding: ASCII-8BIT
      string: '{"cep":"80060000","state":"PR","city":"Curitiba","neighborhood":"Centro","street":"Rua
        XV de Novembro","service":"correios","location":{"type":"Point","coordinates":{"longitude":"-49.2614791","latitude":"-25.427253"}}}'
  recorded_at: Tue, 24 Oct 2023 17:22:45 GMT
recorded_with: VCR 6.2.0
