---
http_interactions:
- request:
    method: get
    uri: https://brasilapi.com.br/api/banks/v1/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5a-huZMZU3M0Pa56jIff8TBob9LjRM"
      X-Matched-Path:
      - "/api/banks/v1/[code]"
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::sfo1::b6g6l-1697837678113-2dcf80caa7a1
    body:
      encoding: ASCII-8BIT
      string: '{"ispb":"00000000","name":"BCO DO BRASIL S.A.","code":1,"fullName":"Banco
        do Brasil S.A."}'
  recorded_at: Fri, 20 Oct 2023 21:34:38 GMT
recorded_with: VCR 6.2.0
