---
http_interactions:
- request:
    method: get
    uri: https://brasilapi.com.br/api/banks/v1/77
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"50-W3aPZriOM+8XuEy+jPffyw+R2H0"
      X-Matched-Path:
      - "/api/banks/v1/[code]"
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - iad1::sfo1::8k6jb-1697837678782-5c10275243ea
    body:
      encoding: ASCII-8BIT
      string: '{"ispb":"00416968","name":"BANCO INTER","code":77,"fullName":"Banco
        Inter S.A."}'
  recorded_at: Fri, 20 Oct 2023 21:34:39 GMT
recorded_with: VCR 6.2.0
